.brand-logo {
    padding-left: 0.3vw !important;
    padding-top: 0.4vh !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.nav {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.content {
    border: 1.5px solid black;
    padding: 0.15vh;
    margin-bottom: 0.3vh;
}
#dropdown1 li {
    background-color: #7e57c2;
}
.de {
    color: white !important;
}
.round {
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 0.3vw;
}